%sidebar{
	height: 100%;
	background:url(images/back-black.png);
	width: 40%;
	text-align: right;
	padding-right: 20px;
	padding-top: 5%;

	h1{
		font-size:40px;
		
	}

	h2{
		font-weight: normal;
		font-size: 26px;
		color: #FFF;
		margin-top:10px;
		margin-bottom: 20px;
	}

	h3{
		font-size: 18px;
		color: #FFF;
		margin-bottom:10px;
	}

	div.extracto{
		margin-top:20px;
		color: #FFF;

		p{
			padding-top: 20px;
		    font-size: 18px;
		    font-weight: 200;
		    background: rgba(0,0,0,0.7);
		    padding: 15px;
		    color: #FFF;
		    border-radius: 10px;
		    margin-top: 30px;
		    color: $rosa;

		    a{
		    	color: $rosa;
		    	&:hover{
		    		color: #FFF;
		    	}
		    }
		}
	}
	@include max-screen(992px) {
		width: 100%;
	}
}